<div class = "container">
 <div class = "row">
  <div class="col-md-4 col lg-3 card" *ngFor="let customer of customers">
    <div class="card-header">
      {{customer.firstName}} {{customer.lastName}}
      <button class="card-close pull-right" (click)="deleteCustomer(customer.id)">&times;</button>
    </div>
  <div class="card-body">
     <img src = "assets/images/{{customer.gender}}.png" class="pull-left card-image"/>
     {{customer.address}}
     <button class="pull-right glyphicon glyphicon-edit" (click)="updateCustomer(customer)"></button>
  </div> 
 </div>
</div>
</div>
